#exam-result {
    width: 80% !important;
}

#test {
    overflow-x: auto;
    white-space: nowrap;
}

table td, table th {
    white-space: nowrap;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

caption { caption-side:top; }